<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rick and Morty</title>
</head>
<body>
    <main>
        <h1>Welcome to The Rick and Morty API</h1>
        <div class="container-thumbnails">
            <div class="thumbails" th:object="${character}">
                <h1 th:text="*{name}"></h1>                
            </div>
        </div>
    </main>
</body>
</html>